body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f2f5;
}

.admin-container {
    display: flex;
    height: 100vh;
}

.sidebar {
    width: 250px;
    background: #007bff;
    color: white;
    padding: 20px;
    height: 100vh;  /* Sidebar'ın tam sayfa boyutunda görünmesini sağlar */
}

.sidebar h2 {
    text-align: center;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    padding: 10px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.sidebar ul li a {
    text-decoration: none;
    color: white;
    display: block;
    font-size: 16px;
}

.admin-content {
    flex-grow: 1;
    padding: 20px;
}

.hidden {
    display: none;
}

#mainSchedule, #dutyTeacher {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

#mainSchedule th, #mainSchedule td, #dutyTeacher th, #dutyTeacher td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

#mainSchedule th, #dutyTeacher th {
    background: #007bff;
    color: white;
}



.teacher-name {
    width: 100%;
    border: none;
    padding: 5px;
    text-align: center;
}

.editable {
    cursor: pointer;
    min-width: 80px;
    background-color: #fff;
}
